.card-container {
  box-sizing: border-box;
  
}

.card {
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  max-width: 39.2rem;
  min-height: 20rem;
  border-radius: 0.8rem;
  box-shadow: -3px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 0px 13px 0px rgba(0, 0, 0, 0.75);

  @include device('m') {
    flex-direction: column;
  }

  .card-img {
    height: 20rem;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;

    @include device('m') {
      height: 30rem;
    }
  }

  .img-1 {
    background-image: url("../../assets/img/movie1.svg");
  }

  .img-2 {
    background-image: url("../../assets/img/movie2.svg");
  }

  .img-3 {
    background-image: url("../../assets/img/movie3.svg");
  }

  .info-card {
    padding: 1rem;

    h2 {
        font-size: 1.8rem;
    }

    span {
      font-weight: bold;
      font-size: 1.2rem;
      color: #929292;
      line-height: 1.6rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

    .range {
      color: #fff;
      line-height: 2rem;
      font-size: 1.4rem;

      span {
        color: #fdff00;
      }
    }

    p {
      font-size: 1.2rem;
      text-align: justify;
      margin-top: 0.5rem;
      word-wrap: break-word;
    }

    button {
      width: 10rem;
      height: 2.6rem;
      font-size: 1.2rem;
      margin-top: 2rem;
    }
  }
}
